@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="jumbotron">
  <h1>Edit @Html.DisplayFor(model => model.Name)</h1>
</div>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.Label("Edit Machine Name:")
  @Html.EditorFor(model => model.Name)
  <br>
  @Html.Label("Mark Machine as Fixed")
  @Html.CheckBoxFor(model => model.Fixed)
  <br>
  <input type="submit" value="Update Machine" />
}