@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="jumbotron">
  <h1>Details for @Html.DisplayFor(model => model.Name):</h1>
</div>
<hr />
<h3>Name:</h3>
<p>@Html.DisplayFor(model => model.Name)</p>
<h3>License Renewal Date:</h3>
<p>@Html.DisplayFor(model => model.Date.Month)/@Html.DisplayFor(model => model.Date.Day)/@Html.DisplayFor(model => model.Date.Year)</p>
<hr />
@if (@Model.JoinEntities.Count == 0)
{
  <h3>@Html.DisplayFor(model => model.Name) is not assigned to any Machines.</h3>
}
else
{
  <h3>@Html.DisplayFor(model => model.Name) is assigned to the following @Html.DisplayFor(model => model.JoinEntities.Count) machines:</h3>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink(@join.Machine.Name, "Details", "Machines", new { id = join.Machine.MachineId })</li>
    }
  </ul>
}
<hr />
@if (@Model.JoinEntities.Count == 0)
{
  <h3>No Machines to delete @Html.DisplayFor(model => model.Name) from.</h3>
}
else
{
<h3>Delete @Html.DisplayFor(model => model.Name) from: </h3>
<ul>
  @foreach (var join in Model.JoinEntities)
  {
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="@join.Machine.Name" />
    }
  }
</ul>
}
<hr />
<button class="btn">@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</button>
<button class="btn">@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</button>
<button class="btn">@Html.ActionLink("Add Engineer to Machine", "AddMachine", new { id = Model.EngineerId })</button>