@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<div class="jumbotron">
  <h1>Edit @Html.DisplayFor(model => model.Name)</h1>
</div>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  @Html.Label("Edit Engineer Name:")
  @Html.EditorFor(model => model.Name, new { required = "required" })
  <br>
  @Html.Label("Edit Engineer License Renewal Date:")
  @Html.EditorFor(model => model.Date, new { type = "date", required = "required" })
  <input type="submit" value="Update Engineer" />
}
<hr />